[2017-10-11 12:41] Edke opened #2 "WARNING Removed email.0.label during transforms"
When I run against the test pipedrive account today, I see this warning:

[code]

[2017-10-11 12:47] Edke opened #3 "Goals schema and expected_sum, delivered_sum"
In the goals schema, expected_sum is an integer, but delivered_sum is a number - I suspect these should have the same type. Do you know which is correct?

[2017-10-11 12:57] Edke commented on #2
@cmerrick This means that this structure exists in payload but is not included in schema, therefore was removed.

These warnings generally mean schema and payload are not synced. To solve this properly, we need:

which endpoint / stream
complete payload
According to this we can then update schema for that stream and re-test.

[2017-10-11 12:58] Edke opened #5 "singer.transform.SchemaMismatch: Errors during transform last_incoming_mail_time and last_outgoing_mail_time"
This error:

[code]

[2017-10-11 12:58] Edke commented on #5
Same as above, in which endpoint this occured ? We have last_incoming_mail_time and last_outgoing_mail_time in deals and persons endpoints. I'm fixing both to:

[code]

[2017-10-11 13:14] Edke opened #7 "Proper handling of API HTTP request exceptions"
Issues:
- [x] https://github.com/singer-io/tap-pipedrive/pull/1#discussion_r143616170
- [x] https://github.com/singer-io/tap-pipedrive/pull/1#discussion_r143616343
- [x] https://github.com/singer-io/tap-pipedrive/pull/1#discussion_r143616418

[2017-10-11 13:17] Edke commented on #7
@cmerrick so tap should a) raise exception or b) use logger.error() and exit(1) ?

[2017-10-11 13:20] Edke commented on #7
@cmerrick and about which exceptions:

1. any exception that failed to retrieve payload means tap is tails, needs to be stopped and re-run,
2. no matter if timeout, connectionerror or response error (500, 400, ...), always terminate tap

right ?

[2017-10-11 13:38] cmerrick commented on #2
This came from the test account that you have access to, you can reproduce by running tap-pipedrive without any initial state.

[2017-10-11 14:04] Edke commented on #2
Yes, I can see that now, but what changed ? As last time I was working with that data (Friday I guess) it worked without any Warnings.

So new / changed data or API changed ?

[2017-10-11 14:42] Edke commented on #2
Fixed all schema issues against current test account. To work, also PR https://github.com/singer-io/tap-pipedrive/pull/6 needs to be merged.

[2017-10-11 15:48] cmerrick commented on #2
I think there was new or changed data

[2017-10-11 19:46] cmerrick commented on #7
Any unrecoverable exception should be allowed to raise to the top-level.  exit(1) should never be called.  Please follow a pattern like this to log exceptions that reach the top level as critical and then re-raise: https://github.com/singer-io/tap-hubspot/pull/48/files

[2017-10-11 19:46] #5 closed

[2017-10-11 19:46] #3 closed

[2017-10-11 19:47] #2 closed

[2017-10-12 20:42] #7 closed

[2017-10-13 07:05] Edke opened #10 "Cleanup of unneeded dependencies"
Just looking though the code, found out one early requirement, `click` is fantastic replacement for argparse and initially wanted to build argument parsing using click but then replaced with already implemented argparse from singer lib

https://github.com/singer-io/tap-pipedrive/blob/ac2da32df561f71d1fabae0365f27aaad8c24642/setup.py#L16

Should I remove it ?

[2017-10-13 10:57] cmerrick commented on #10
yes, please remove unused dependencies

[2017-10-13 11:59] #10 closed

[2018-02-08 22:05] briansloane opened #13 "SchemaMismatch: Error during transform of User"
last_login: 0000-00-00 00:00:00 does not match {'type': ['string', 'null'], 'format': 'date-time'}

[code]

[2018-03-02 15:12] SeanFLynch opened #14 "Singer API error"
Hi,

We keep getting this error message with the Pipedrive Tap:

"2018-03-02 10:39:31,903Z   main - INFO Exit status is: Tap failed with code 1 and error message: "Errors during transform". Target succeeded."

Any ideas on this?

Sean.

[2018-03-02 15:21] KAllan357 commented on #14
Hi @SeanFLynch, I looked you up in our system - usually the logs in the Stitch UI will reveal a bit more context. Here's what I found:

[code]

We're using some Python code to transform the value Pipedrive is returning into a datetime object. In this case, its failing to parse a string `"0000-00-00 00:00:00"` into a datetime.

The easiest path forward would be to modify the offending row in Pipedr

[2018-03-05 19:37] briansloane commented on #13
Duplicate of https://github.com/singer-io/tap-pipedrive/issues/14

[2018-03-05 19:37] #13 closed

[2018-03-06 16:11] KAllan357 commented on #14
@SeanFLynch any update here?

[2018-03-16 20:31] chase2963 commented on #14
I'm getting the same error as well. It seems to happen when you have a user you've invited to the pipedrive but they haven't signed in yet

[2018-03-16 20:33] chase2963 commented on #14
I think it has to do with a user that you have like this:

![image 2018-03-16 at 2 32 11 pm](https://user-images.githubusercontent.com/9396468/37543368-ee8be386-2926-11e8-8c3b-6b97135ae342.png)

[2018-03-16 22:29] chase2963 commented on #14
that error went away when I removed that user that hadn't logged in

[2018-03-20 16:59] cayleyh opened #15 "Error processing `delete_log` on first run"
Got this error on the first run against our Pipedrive instance:

[code]

What else is necessary to help debug this?

[2018-03-21 19:17] dylan-stitch opened #16 "Errors during Transform for `Products`"
2018-03-16 22:11:25,388Z    tap - Errors during transform: [prices.USD.overhead_cost: None does not match {'type': 'number'},

[2018-03-27 17:17] KAllan357 commented on #14
Sounds good! :+1:

[2018-03-27 17:38] #14 closed

[2018-03-27 18:39] cayleyh commented on #15
I wasn't able to reproduce this as calls to `delete_log` on our Pipedrive are now returning content, but I assume there is still an underlying issue with empty `delete_log` calls.

However, Stitch continued to fail on this error & I had to end up deleting & recreating the integration to get it to start syncing again.

[2018-04-16 23:13] cayleyh opened #17 "Sync fails if a new user has been created, but hasn't logged in yet"
When a new user is created in Pipedrive, their `last_login` property is set to an empty timestamp of `0000-00-00 00:00:00`. This causes the current tap to fail on a schema error of `singer.transform.SchemaMismatch: Errors during transform last_login: 0000-00-00 00:00:00 does not match {'type': ['string', 'null'], 'format': 'date-time'}`.

Can be reproduced by creating a new Pipedrive users and set

[2018-04-19 21:15] dmosorast commented on #17
This should be fixed in version 0.0.11. Thanks!

[2018-04-19 21:15] #17 closed

[2018-04-19 22:47] cayleyh opened #19 "Schema error with writing to `organizations` table"
Just started seeing this today:

[code]

Now the error has changed to:

[code]

I can't reproduce the first error, but when I install the latest 0.0.11 tap and run locally, I can reproduce the above.

[2018-04-19 22:53] cayleyh commented on #19
@dmosorast I just started seeing this @ about 1am this morning (PST). As of an hour ago I started getting the `ImportError` instead. I've been able to reproduce by updating my local copy from 0.0.10 -> 11 and running it locally against our live pipedrive account.

[2018-04-19 22:57] cayleyh commented on #19
Can confirm that the .tar.gz that `pip` fetches does not include the `tap_pipdrive/streams` directory.

[2018-04-20 01:01] dmosorast commented on #19
Hi @cayleyh, thanks for reporting this. The packaging issue should be resolved in 0.0.12.

As for the first issue, I see that those fields are marked as required in the [schema](https://github.com/singer-io/tap-pipedrive/blob/master/tap_pipedrive/schemas/recents/dynamic_typing/organizations.json#L200-L201). If you can run the tap locally successfully, it would be worth it to check the tap's output

[2018-04-24 21:56] suzybates commented on #19
Hello, I am not a developer, but I am using the Pipedrive stitch connection.  I am seeing this error as of 5 days ago.  is that anything I can do to resolve this issue for my integration without running code?
thank you so much for creating this connection!

[2018-04-26 13:58] suzybates opened #20 "Missing required fields in organization error"
I started seeing this error a few days ago

[code]

I don't believe I have these fields in my pipedrive api, so I am wondering why they have been made required?

[2018-04-26 14:25] dmosorast commented on #19
@suzybates @cayleyh Since this tap was submitted by a community member, I'm not sure exactly why these fields are marked as required. However, they do not show up in the data from a test trial Pipedrive account either. I suspect they may have been either removed by Pipedrive, or a common customization that doesn't apply to all accounts.

I'm working up a quick fix in #21 to remove these fields fro

[2018-04-26 14:26] dmosorast commented on #20
Hi @suzybates, looks like this issue is a duplicate of #19. Closing it for now to keep the conversation in a single thread.

[2018-04-26 14:26] #20 closed

[2018-06-13 15:20] TomaszE opened #23 "Deals custom fields names not populated"
Hi,
We got a problem with our pipedrive integration - we have few different campaigns build in to the pipedrive, which have forced us to add some custom fields in to the pipedrive deals.
All custom fields unfortunately are pulled in below way:

`22bd649b7f9cf4edb4181d3673090ba95a7e20d1`
`b84184cbc4786008094347b18b2cedaba85dbb`
`32b84184cbc4786008094347b18b2cedaba85dbb`

![image](https://user-image

[2018-06-14 15:14] dmosorast commented on #23
Hi @TomaszE, it should be possible to map the name to the Id of these fields and emit records using the name instead of the ID. Judging from the Pipedrive [API Docs](https://pipedrive.readme.io/docs/core-api-concepts-custom-fields), Pipedrive refers to them only by this name.

So, depending on the data returned by [this endpoint](https://developers.pipedrive.com/docs/api/v1/#!/DealFields), it coul

[2018-06-18 15:02] TomaszE commented on #23
HI @dmosorast , thank you, unfortunately most of the above is a black magic for me. I'm Stitch user,  with basic understanding, I came here, as I do not think I will be able to pull the request directly.

As per endpoint it's returning something like below:

`"id": 12498,
"key": "d80027fcd0c4b73c0a33b370077b9a2d3fd26867",
"name": "Test123",
"order_nr": 1,
"field_type": "varchar",
"add_time": "2018

[2018-06-18 20:38] honkycat commented on #16
I'm also seeing this error, it is blocking me from using the integration for stitch.

[2018-06-19 14:29] #19 closed

[2018-06-19 15:53] ajmers commented on #23
@TomaszE I opened a PR (https://github.com/singer-io/tap-pipedrive/pull/25) to update the tap to check whether the id beings w/ a 40-digit hexadecimal string like the one above, and if so, use the `name` field instead. I'll update this issue when the fix has gone out!

[2018-06-19 16:02] ajmers commented on #16
@dylan-stitch @honkycat Here's a PR to fix this issue: https://github.com/singer-io/tap-pipedrive/pull/26

[2018-06-19 18:06] ajmers commented on #15
It looks like there might be elements in that iteration with a structure like `{ 'data': None }` (the 'recent' stream picks out a `data` property from the result). I think we can safely just skip over those (not sure why a structure like that would get returned).
PR: https://github.com/singer-io/tap-pipedrive/pull/27

[2018-06-26 22:35] HWdata opened #28 "Deal_Products table isn't being replicated in Stitch"
Hello,
We need the Deal_Product table in our BI tool and it's not currently replicated in Stitch. Do you know when this table will be replicated?
Thanks!

[2018-06-27 01:13] sternsplayland opened #29 "Not All Data Being replicated"
Hi,
Our pipedrive database has replicated numerous times and though i have over 385 contacts and 30 deals on Pipedrive, all within the last 7 months. There is only 2 contacts and 2 deals coming through.
Any help would be greatly appreciated.

[2018-06-27 14:32] briansloane commented on #28
This sounds like an interesting feature request. Can you provide more detail around deal products and what you would expect to see? Do you know the best way to get this from the Pipedrive API?

[2018-06-27 20:21] HWdata commented on #28
Here's the relevant docs:
https://developers.pipedrive.com/docs/api/v1/?#!/Deals/put_deals_id_products_deal_product_id

[2018-06-28 10:02] TomaszE commented on #23
Hey @ajmers - thanks for you help - any idea when can we expect the fix to go life?

[2018-07-03 17:32] briansloane commented on #28
Thank you for this, @HWdata. This information will be helpful when adding this feature. I don't have a timeline for any work on this. We'll update here when our team picks up any work related to this. In the meantime, we would welcome a PR for review to expedite the process.

[2018-07-09 19:36] HWdata commented on #28
What is a PR?

[2018-07-10 14:25] briansloane commented on #28
A PR is a [Pull Request on GitHub](https://help.github.com/articles/about-pull-requests/). They are used for managing contributions to developers on projects. When somebody from the open source community implements this feature, they can create a PR and the Singer team will review the code for inclusion.

[2018-07-19 16:32] timvisher commented on #23
@TomaszE I'm working on this currently. I want to make sure I understand the best way to support your use case.

I understand that you're frustrated by Pipedrive's use of a uuid to refer to custom fields in your `deal` data. I can't speak with certainty to exactly why they're doing so but one potential reason is that they wanted to give you the ability to name multiple custom fields the same thing

[2018-07-20 15:28] matt-zach-s opened #30 "vagrant up"

[2018-07-20 15:29] #30 closed

[2018-07-23 18:50] timvisher commented on #23
Closing this based on lack of feedback.

[2018-07-23 18:50] #23 closed

[2018-08-02 05:30] martint17r opened #31 "Error for users which never logged in"
Hi,

I have a user which is deactivated and never logged in - this results in the following error:

[code]

To mitigate the incident I simply logged in, so there is no immediate need for action, more just a heads up.

[2018-08-02 07:04] martint17r commented on #31
I got the same error, even though every user has a last_login JSON property set in the Pipedrive API response. Maybe there is another problem. I need to investigate further.

[2018-08-02 14:52] briansloane commented on #31
@martint17r Thanks for the update. Let us know what you uncover with your investigation.

[2018-08-22 06:59] fitch commented on #31
I'm getting the same error. Did any of you find anything regarding this?

[2018-08-30 17:28] bdemontecler commented on #28
Hello, i just made 4 pull request for this issue  #32  #33 #34  #35 , can you say me if i did it right ? I'm not a pro developer :)

[2018-10-09 19:39] #16 closed

[2018-10-10 16:14] honkycat opened #37 "Massive jump in data imported from October 8th, 2018"
My daily imported rows in Stitch data went from a few hundred thousand to two million per-day overnight.

The offending table is the `dealflow` table.

[2018-10-10 21:21] #28 closed

[2018-10-11 21:12] alewis-ce commented on #37
I have a couple of ideas for reducing row count.
1. The stream was designed to grab the stage change information for all deals. It currently grabs anything that is a 'dealChange' object, but that could be limited to 'dealChange' objects with field keys equal to 'stage_id' so that it's not pulling other types of changes. The new` process_row` function inside `dealflow.py` would be:
[code]
This woul

[2018-10-11 21:47] dmosorast commented on #37
@alewis-ce Thank you for hopping in, that is exactly the kind of insight I was hoping you'd be able to provide! Child streams are always difficult to deal with, so your domain knowledge is very much appreciated. Overall, the plan you've outlined sounds good to me.

I can't speak to the first point, as I'm not very familiar with the semantics of Pipedrive's data. However, for your statement about u

[2018-10-16 17:16] Forestk11 commented on #37
Hey there I'm looking into this because I also have the same problem.

I would ideally want to get stitch to not sync the "dealflow" table - because I essentially don't need it. Do you know of a way to do that?

Thanks in advance

[2018-10-16 17:33] Forestk11 opened #39 "Take out the newly added "dealflow" table"
Hi there,

I currently use stitch to sync pipedrive data to my database. Same issue as another thread - the "dealflow" table was added a few days back and means a massive amount of data is being sync (from 14k rows a day to 500k rows a day) - and this has eaten up all my row limit.

Is there a way to stop syncing the "dealflow" table please?

Any help on this would be much appreciated !

[2018-10-16 21:53] dmosorast commented on #39
Closing this to keep conversation in the existing issue, #37

[2018-10-16 21:53] #39 closed

[2018-10-16 22:00] dmosorast commented on #37
@Forestk11 The fix to add bookmarking to the `dealflow` table has been merged and released. In practice, this should greatly reduce the rows synced by that table. If you run into problems with it, feel free to open another issue on this repo.

As for your question, the Singer platform supports allowing the tap to describe what streams/tables should be synced. This is called the [discovery mode](ht

[2018-10-16 22:00] #37 closed

[2018-10-18 14:02] Forestk11 commented on #37
Ah yes it now appears to have solved the issue. Thank you for your help!

Forest

[2018-10-24 21:54] renandiasCobli opened #40 "`dealflow` stream only captures `deal`s that have changed stages rather than all possible update paths"
#42 is being worked on to address this issue. See [this comment](https://github.com/singer-io/tap-pipedrive/issues/40#issuecomment-438006906) for the current state of this thread.

------------------------------------

A simple way to replicate this issue:

Get all deals id in table "deals" and check those that are not in item_id "dealflow" table.

Since every deal exists, all of them should be on

[2018-10-26 18:14] alewis-ce commented on #40
I have also seen this issue and am working on a PR to address it.
The primary issue is that the stream looks for a stage_change_time for a deal, which misses deals that have been added but that have not changed stages.

[2018-10-26 18:16] timvisher commented on #40
Thanks for the submitting the issue and thanks for confirming it @alewis-ce!

Should we expect your PR at some point in the nearish future?

@alewis-ce Can you confirm that my title change here is appropriate?

[2018-11-08 16:19] renandiasCobli opened #43 "Pipedrive integration broke since Pipe API excluded "Goals" endpoint"
The tap integration is working until it requests to the "Goals" endpoint, that was removed today (2018-11-08).

The announcemente is in: https://developers.pipedrive.com/docs/api/v1/#/

![image](https://user-images.githubusercontent.com/41486595/48211706-35dfea80-e361-11e8-9204-cd70882162ee.png)

[2018-11-08 17:07] #43 closed

[2018-11-12 18:05] timvisher commented on #40
@alewis-ce Ping. :)

If your PR addresses this issue can you add `Fixes https://github.com/singer-io/tap-pipedrive/issues/40` to it so this Issue will automatically close when we merge it?

[2018-11-12 19:49] alewis-ce commented on #40
@timvisher I believe my PR should fix this issue, as long as I understood it correctly the first time. The PR will fix the problem that the stream is not currently getting all deals when they are first added if they haven't changed stages.

The stream is designed to catch the flow of deals through the funnel and should therefore catch all deal additions and stage changes. It is **not** designed to

[2018-11-21 18:10] #40 closed

[2019-01-03 19:20] timvisher commented on #31
I believe the fix here would be to remove the `required` entry entirely from all schemas. It's not a json schema feature that we tend to use anywhere else and breaks the sync unnecessarily, especially because in this case there really is no `last_login`. `last_login` is already possibly null.

PR welcome!

[2019-01-03 19:45] bitgo-allenwu commented on #31
hey Tim, I made a pull request to remove all the required entries: #45

[2019-01-04 15:21] KAllan357 commented on #31
Released this in v0.2.3. Please close this issue if you verify things are working as expected.

[2019-01-04 18:18] bitgo-allenwu commented on #31
It looks like everything's working now (for us, at least), though I don't think I can close the issue.

[2019-01-15 23:38] richarddenys opened #46 "File with no associated user causes error"
It's possible in Pipedrive to have a file with no user associated. This happens when a Pipedrive user that added a file to a deal is deactivated/removed. In the Pipedrive UI, this appears as "(hidden user)":

![image](https://user-images.githubusercontent.com/30067980/51216958-51c3c600-197a-11e9-9a00-940777ea0169.png)

Via the API, this appears as `'user_id': None` which doesn't match the integer

[2019-01-18 18:06] #31 closed

[2019-01-18 18:08] KAllan357 commented on #46
This issue sounds very similar to https://github.com/singer-io/tap-pipedrive/issues/31. I think we'd just need to adjust the JSON schema to allow a null value here.

A PR to edit this line of code https://github.com/singer-io/tap-pipedrive/blob/master/tap_pipedrive/schemas/recents/files.json#L8

[2019-01-30 13:44] ABMarina opened #47 "Deals custom fields comind as IDs and null responses"
Hi, custom fields from Deals Table came as ramdon IDs and not populated.
![image](https://user-images.githubusercontent.com/47181610/51985179-6af16a00-2484-11e9-85d8-5d7d41ed3863.png)

[2019-01-30 15:55] luandy64 commented on #47
Did you select the fields in the `deals` table before running the tap?

[2019-01-30 15:59] luandy64 commented on #29
How are you running the tap? I wonder if you are bookmarked on a really recent date.

There is also the [Singer Slack](https://singer-io.slack.com/) you can look for help on. There's a even `tap-pipedrive` channel

[2019-02-01 19:57] ty-dev opened #48 "product_deals"

[2019-02-01 20:05] ty-dev commented on #28
Any plans to complete deal_products request now that #36 has been completed?

[2019-02-14 14:32] luandy64 commented on #47
I'm closing this issue for inactivity. If you see problems still, feel free to reopen this issue or a new one 👍

[2019-02-14 14:32] #47 closed

[2019-02-14 14:54] dmosorast commented on #28
Hi @ty-dev, looking at this more closely, it seems that I closed this issue in error. I haven't heard more about DealsProducts, but with the `PipeDriveIterStream` base class, this should be doable. It'd work much like the [DealFlow](https://github.com/cross-entropy/tap-pipedrive/blob/master/tap_pipedrive/streams/dealflow.py) stream. Feel free to submit a PR if you can get it up and running locally

[2019-03-15 21:46] renandiasCobli opened #50 "Integration stoped updating custom fields"
Tap-pipedrive removed custom fields from the request?

I am using the stitchdata integration that uses tap-pipedrive, which has stoped updating some custom fields!
![bug](https://user-images.githubusercontent.com/41486595/54463659-94273a80-4752-11e9-8583-fe6c979b40ca.PNG)

[2019-03-18 14:29] renandiasCobli commented on #50
The problem seems similar to issue number #2 .

[2019-03-20 14:38] renandiasCobli commented on #50
Hi @KAllan357,
do you have any info about this error?

[2019-04-24 14:52] mark-uscbi commented on #47
Hi, I am seeing the same issue. There is an entity called DealFields which is not being pulled in, which maps the columns to human-readable names.

From Stitch, here is what the table looks like:
[code]

[2019-05-14 18:29] rbatista19 opened #55 "Encountered an error while attempting to replicate data from Pipedrive. The message was: 'update_time'"
Hey guys, I am using stitchdata.com to integrate my Pipedrive data with Google BigQuery but I get the following log when integrating all tables for the first time.
Can any of you help in here?
I have configured the start date for the integration to be late 2017.

[134713.152802.sync.832f76c7-7672-11e9-834a-0ebef606980e.txt](https://github.com/singer-io/tap-pipedrive/files/3179255/134713.152802.syn

[2019-05-15 14:46] mbrown84 commented on #55
I am getting the same error as well when I try this integration

2019-05-15 14:28:09,114Z    tap - KeyError: 'update_time'
2019-05-15 14:28:09,134Z target - INFO Exiting normally
2019-05-15 14:28:09,164Z   main - INFO Target exited normally with status 0
2019-05-15 14:28:09,165Z   main - INFO Exit status is: Discovery succeeded. Tap failed with code 1 and error message: "'update_time'". Target suc

[2019-05-23 19:04] gwright15 opened #56 "Deactivated Users"
The user table seems to only bring through active users.  Is it possible to bring through both active and deactivated users, as there user ID's are still linked to deals etc.

[2019-06-07 08:53] Forestk11 opened #57 "Pipedrive starting to take longer replicate and encountering a lot of extract errors since last Friday 31/5/19"
My pipedrive integrations are currently encountering a lot more extraction error and taking a huge amount of time to refresh than before.

Previously the data were able to update every half an hour. But now each extraction is taking up to 4 hours each, and around 50% of those fail (fail reason = "Response with status code 500 from Pipedrive API is not valid")

Everything started from last Friday (

[2019-06-12 11:20] Forestk11 opened #58 "new deal_products table causing issue with syncing"
The deal_products table has been added on around 31/5 and from that point onwards all my replication has massively slowed down from almost continuously updating every 30 minutes, to taking 4 hours per extract. And many of those extractions fail.

I cannot de-select deal_products as a table to sync, because if I do the replication would even start.

I think something has gone wrong here. Prior to t

[2019-07-09 11:51] leimonio opened #59 "Pipedrive extraction of deaflow error"
Hi there, thank you very much for contributing and maintaing this opensource project for extracting pipedrive information! 🙌🏻

I've been using [Stitch](https://www.stitchdata.com/) lately and for syncing my pipedrive accounts to a database. For some of these accounts, the extraction of `dealflows` is failing with an error
[code]

Trying to understand what is the issue that makes extraction fail. I

[2019-08-11 14:24] gwright15 opened #60 "Activities "Active flag""

[2019-08-11 14:41] gwright15 commented on #56
Can anyone help with this?

[2019-08-11 20:03] gwright15 commented on #60
It looks like it's a pipedrive issue - re-run the data extract from the beginning of time, and it's showing up correctly.  I think the issue was when the item was deleted, the update-time was not being updated, and thus stitch could not tell it has been updated.  I have reported to pipedrive and will update once confirmed.

[2019-09-05 17:02] warwintryborn opened #61 "Error Pipedrive Extraction"
Hi,
I am having problem with data extraction from Pipedrive on Stitch. The error appears is "Errors during transform"

May you help me? Below is Raw extratcion logs:

2019-09-05 14:43:58,926Z   main - INFO Running tap-pipedrive version 1.0.4 and target-stitch version 1.8.1
2019-09-05 14:43:59,047Z   main - INFO Starting tap to discover schemas: tap-env/bin/tap-pipedrive --config /tmp/tap_discover_

[2019-09-24 16:37] chandrasen-rajashekar opened #62 "Not all selected tables are being replicated"
I am using Stitchdata to replicate pipedrive data. I have selected the tables **activities,  activity_types, deal_products, dealflow, deals, files, filters, organisations, persons, pipeline, products, stages and users** to replicate. I have noticed that, since 19th of September only the tables **dealflow and deal_products** are being replicated and none of the other tables are being replicated. Ca

[2019-09-25 17:22] luandy64 commented on #61
`first_won_time: 0000-00-00 00:00:00`

This is not a valid date. Can you change this in Pipedrive?

[2019-09-25 17:23] luandy64 commented on #60
Any updates here?

[2019-09-25 17:31] luandy64 commented on #59
Looks like an error on this line, https://github.com/singer-io/tap-pipedrive/blob/4b1a20697132ec03b1ef829728ea8dc00ae4cdca/tap_pipedrive/stream.py#L174

Does this error happen with all streams? Or do you know which ones are affected?

[2019-09-25 21:41] dmosorast commented on #62
@chandrasen-rajashekar This sounds like an error that was fixed as of this afternoon (EST), closing for now. Please reopen if you're still not seeing data.

[2019-09-25 21:41] #62 closed

[2019-09-26 06:15] prateekgupta23 opened #64 "Response with status code 504 from Pipedrive API is not valid, wonder why .."
2019-09-26 03:00:44,656Z target - INFO Using Stitch import URL https://api.stitchdata.com/v2/import/batch
2019-09-26 03:00:44,656Z target - INFO Using Turbo Boost Factor of 1
2019-09-26 03:00:44,659Z    tap - INFO HTTP request to "dealflow" endpoint took 0.203s, returned status code 200
2019-09-26 03:00:44,886Z    tap - INFO HTTP request to "dealflow" endpoint took 0.200s, returned status code 200

[2019-09-27 07:58] chandrasen-rajashekar commented on #62
@dmosorast it did solve my issue. Thanks a lot for fixing the error it did ease my life a lot.

[2019-10-07 21:26] alb150 commented on #23
Hi,

I am also looking into a solution for this issue. Was any fix published?

Thanks

[2019-10-09 19:25] henriqueback opened #65 "No value ?"
def find_deal_ids(self, data, start, stop):

        # find all deals that were *added* after the start time and before the stop time
        added_ids = [data[i]['id'] for i in range(len(data)) if (start <= pendulum.parse(data[i]['add_time']) < stop)]

        # find all deals that a) had a stage change at any time (i.e., the stage_change_time is not None),
        #                     b) had a

[2019-10-18 07:35] smbeard14 opened #66 "PD extraction error 401"
Hello I have an urgent issue of our PD extraction not running. I am getting an error 401 since 17/10. It had worked for a very long time before this. I would appreciate any help ASAP.

2019-10-18 07:32:28,694Z   main - INFO Running tap-pipedrive version 0.2.5 and target-stitch version 1.8.1
2019-10-18 07:32:28,767Z   main - INFO Starting tap to discover schemas: tap-env/bin/tap-pipedrive --config

[2019-11-22 14:47] denield commented on #59
That's indeed where the error was @luandy64, opened a PR (#67) to fix. The issue is that `add_time` could be `None` which is not handled here. Added an example to reproduce it into the PR.

[2020-01-16 15:26] alb150 opened #68 "argument of type 'NoneType' is not iterable"
Been getting the above error from my pipedrive extraction via Stitch since yesterday. Any fix?

[2020-01-16 15:59] alb150 commented on #59
experiencing this same issue in my extration since yesterday. Is it still being worked on?

[2020-01-16 21:23] #59 closed

[2020-01-17 14:58] dmosorast commented on #68
This should be fixed by #67, which I just released to `tap-pipedrive` version 1.0.5. Closing this for now. If there is still an error, please open a new issue with some more information.

[2020-01-17 14:58] #68 closed

[2020-02-03 03:34] jmace006 commented on #23
Hi there, this is also a problem for us, keen to see if there was any update. Thanks.

[2020-02-07 12:25] Thuran opened #69 "Errors during transform"
Hi, we got a error without any changes. The integrations works and broken alone.
The log is:

2020-02-07 11:57:39,559Z    tap - Errors during transform: [: [{'default_currency': 'BRL', 'is_you': False, 'locale': 'pt_BR', 'phone': None, 'active_flag': True, 'name': 'Name, 'icon_url': None, 'signup_flow_variation': 'invite', 'id': 10730570, 'is_admin': 0, 'timezone_name': 'America/Sao_Paulo', 'email

[2020-02-07 15:04] dmosorast commented on #69
Hi @Thuran Thanks for reporting this. It looks like Pipedrive may have changed the response structure of the endpoint the tap uses for the `delete_log` stream.

I don't have a Pipedrive account handy to test myself, but from looking over the code, it seems like the [`row` object here](https://github.com/singer-io/tap-pipedrive/blob/master/tap_pipedrive/tap.py#L193) is instead coming out as a list

[2020-02-07 21:51] mmaia-yuca commented on #69
I'm having the exact same issue. I tested the `delete_log` endpoint from Pipedrive and the response looks like:

[code]

[2020-02-21 12:18] norbag commented on #69
I am also having this issue since 7th of february.

[2020-02-21 12:27] Thuran commented on #69
For now I disabled the tap in delete_log and the others taps worked

[2020-02-21 12:40] norbag commented on #69
Anyone got an overview of what the consequences of this error is?

[2020-02-25 14:16] norbag commented on #69
@Thuran I assume you dont use this tap via Stitch?

[2020-02-25 14:34] Thuran commented on #69
Yes, i deactivated in replicated tables.

[2020-02-26 05:44] vkovalskiy opened #70 "Errors during transform - because of first_won_time: 0000-00-00 00:00:00 does not match {'type': ['string', 'null'], 'format': 'date-time'}"
Just hit yet another problem with transform... this time it can not be solved by deselecting the delete_log table. This problem is with deals table first_won_time.

[code]

Tap is for the **Deal** object and it does contain this property : 'first_won_time': '0000-00-00 00:00:00'

[2020-03-02 11:47] mihai-directimo commented on #69
Hey guys. I've unchecked the "delete_log" table and I managed to bring data from Pipedrive to Power BI (after 2 weeks being down).
But, for some reason, Power BI sees only the latest status for new leads that came in the period the integration was down (only 1 line / lead). Is there any possibility to bring all historic information, not have just the latest status?

[2020-03-05 19:11] #70 closed

[2020-03-09 13:54] henriquerossato commented on #66
Hello, is there any update regarding it ?

[2020-04-16 14:02] seckindinc opened #73 "Missing custom field at deals table"
Hi,

We have been testing Stitch Data for a while for Pipedrive integration. We faced an issue and they wanted us to contact to you.

One of the customer fields that we created on Pipedrive Deals are missing at Stitch integration. I can see the field '9224dca7ab154d11927f9969ced0849d2944d62f' at direct API calls.

Any clues?

Seckin

[2020-04-17 03:00] tconticello commented on #73
There are a couples of issues open with the same topic. Nobody replied.
We are in the same situation with my client. Do you want to contact me? I am planning to use my own resources to develop a solution for this.
If you are open we can discuss a way to collaborate to develop this.
My email is conticello@gmail.com

[2020-04-17 08:49] seckindinc commented on #73
Sorry i am not interested in contributing to something.

[2020-04-22 07:56] seckindinc commented on #66
Same issue today.

[2020-04-27 15:26] stephane-klein opened #74 "What do you think about add Config file example in README?"
I see `--config CONFIG` in:

[code]

[2020-04-27 15:30] stephane-klein commented on #74
What I see in source code:

- `start_date`
- `user-agent`
- `api_token`

[2020-04-27 16:04] stephane-klein commented on #74
@KAllan357

[2020-04-27 16:09] stephane-klein opened #75 "What do you think to add how to use example in README"
What do you think to add how to use example in README.

This is my `pipedrive-tap-config.json`:

[code]

I execute:

[code]

It is normal that `value` is empty?

When I execute:

[code]

my database is empty🤔

Same with:

[code]

How can I debug that?

Best regards,
Stéphane

cc @KAllan357

[2020-04-27 20:26] stephane-klein commented on #75
I need to comment this line:

[code]

from https://github.com/singer-io/tap-pipedrive/blob/1390c9c36491c80ffc0f89b4efc25500412d16f1/tap_pipedrive/tap.py#L171 to get some data.

I don't undertand to select some stream in catalog 🤔

[2020-04-27 20:29] stephane-klein opened #76 "BrokenPipeError: [Errno 32] Broken pipe When I use `tap-pipedrive` with `target-postgres`"
When I use `tap-pipedrive` with `target-postgres` I have this error

[code]

[2020-05-01 13:07] stephane-klein commented on #76
It works here: https://github.com/stephane-klein/singer-pipedrive-playground

[2020-05-01 13:07] #76 closed

[2020-05-01 13:08] stephane-klein commented on #74
This is an example here https://github.com/stephane-klein/singer-pipedrive-playground/blob/master/tap-pipedrive-config.json.sample

[2020-05-01 13:09] stephane-klein commented on #75
This bug is fixed by https://github.com/stephane-klein/tap-pipedrive/commit/591315cdcf33c10467dc3c2bae93c04021254b90

This is usage example: https://github.com/stephane-klein/singer-pipedrive-playground

[2020-06-08 23:49] warwintryborn commented on #61
I remove some fields from my extraction and worked it!

[2020-06-09 01:11] davehowell commented on #73
Did you make any progress on this? We are also using Stitchdata and our destination is Snowflake and have noticed many many fields missing. We previously used Redshift and the fields were working there. @tconticello what are the other issues with the same topic, I don't see them?

[2020-06-09 01:47] tconticello commented on #73
Hi, Dave. Yes, please send me an email to conticello@gmail.com and we can
have a call.
Regards
Tomas

On Mon, 8 Jun 2020, 22:12 davehowell, <notifications@github.com> wrote:

[2020-06-09 12:10] seckindinc commented on #73
Nope. It is still not working and i have no hope for the future tbh.

[2020-06-09 13:31] davehowell commented on #73
@tconticello if you have some fixes or something then what about submitting a PR to this repo? Others using Stitchdata would appreciate it I'm sure.

[2020-06-09 13:36] tconticello commented on #73
No, I discard to update the signer tap.
I am using my own solution pulling fields names and a dbt model to clean
the views.

On Tue, 9 Jun 2020 at 10:31, davehowell <notifications@github.com> wrote:

--

Tomas Conticello
--

[2020-08-08 21:30] weltonrodrigo opened #78 "deal_products always replicate all rows"
Hi.

I don't know if this is an expected behavior for deal_products, as this is not an "official" pipedrive provided api request, but all rows are updated every time a sync is made.

EXPECTED RESULT:
A synchronization should output only the deal_products rows that changed since the last synchronization.

ACTUAL RESULT:
All rows from deal_products are recreated when synchronizing, regardless of the

[2020-09-24 18:55] axelbardales opened #79 "Doesn't update the activities table"

[2020-10-02 12:54] LouDub commented on #69
I have an error during transform too but i don't know if it comes from same reasons. Do you have any idea ? Thanks !

 2020-10-02 09:40:50,218Z    tap - INFO replicated 4 records from "delete_log" endpoint
2020-10-02 09:40:50,218Z    tap - CRITICAL Errors during transform
2020-10-02 09:40:50,218Z    tap - 	: [{'phone': None, 'active_flag': True, 'modified': '2020-10-02 07:36:11', 'id': 11570894, '

[2020-10-02 12:57] LouDub opened #80 ""Sources" field in data extraction ?"
Hi,

I'm wondering in which dataset i can find the "sources" field (acquisition channel of a deal / lead).
It seems that no table extracted by Stitch contains this field. Maybe i'm missing something.

Thank you,
Louis

[2020-11-15 13:19] fcastellsflip commented on #69
I'm having the same issue "ERRORS DURING TRANSFORM". Looking at the logs, it comes from `delete_log` endpoint:

`2020-11-12 14:30:40,420Z    tap - INFO replicated 99 records from "delete_log" endpoint
2020-11-12 14:30:40,420Z    tap - CRITICAL Errors during transform
2020-11-12 14:30:40,420Z    tap - 	: [{'locale': 'en_US', 'email': 'xxxx@xxxx.com', 'is_you': False, 'id': 11311344, 'timezone_offse

[2020-11-17 12:39] y0devv opened #83 "Start_date / bookmark_timestamp does not support a datetime with a timezone offset"
When using a datetime with a timezone offset as either the `start_date` in config.json, or as a bookmark value a `maximum recursion depth exceeded` error occurs. This happens on `self.initial_state.subtract(seconds=1)` in `RecentsStream.update_request_params()` (so for all recents streams).

This is caused by a bug in Pendulum, which was fixed in [2.1.0](https://github.com/sdispater/pendulum/pull/

[2020-11-17 12:41] #83 closed

[2020-11-17 12:44] y0devv commented on #83
Duplicate of PR #77

[2020-12-01 14:32] ahumeau opened #84 "DynamicTypingRecentsStream does not handle pagination"
Hi all,

I encountered this situation when my Pipedrive organizations started exceeding 100 fields : the new ones would not be replicated.

The reason Pipedrive API fields endpoint have a limit of 100.
My workaround was to pass a higher limit when requesting the fields endpoints:

[code]

A better solution would be to handle pagination but I do not know if it is worth it as this is quite a edge ca

[2020-12-10 12:41] pedrohsuzanopinheiro commented on #73
Hey guys. Any progress with this? Im also having the same issue, but with Organization fields.

[2021-02-02 19:56] jerrydeng commented on #69
I'm having the same issue "ERRORS DURING TRANSFORM" from delete_log endpoint as well

[2021-02-13 11:48] weltonrodrigo commented on #80
I suggest you look for it in the Pipedrive Api Reference (https://developers.pipedrive.com/docs/api/v1/).

Stitch tables follow api nomenclature very closely (Deals api requests corresponde to deals table, etc)

[2021-03-01 20:20] gwright15 commented on #56
Any update on this?  It's a shame as the Pipedrive API does show this.

[2021-03-30 14:52] pastime28 commented on #69
The issue persists when using the Stitch integration. I can confirm that turning on the delete_log field in the integration removes the issue. I'll do my best to get a PR created for this since the issue has been out here for some time.

[2021-04-22 08:21] happyherp commented on #69
I also have the same problem. I am working on a fix....

[2021-04-23 14:26] KAllan357 commented on #69
I looked into the Pipedrive documentation and noticed that the `recents` endpoint no longer lists `delete_logs` as a valid item. I'm beginning to believe that this data is no longer available from the Pipedrive API.

When I make a request to this endpoint and force the items query-param to `delete_logs`, I do get a 200 response but it is a mix of data. If I change the query-param to anything else

[2021-04-24 05:59] happyherp commented on #69
@KAllan357 I will look into this on Monday. You might be right. We just started using this tab, so I never actually saw it working.

But if it does not work anymore - does that mean we no longer get information about deletions at all? That would be bad, as deleted items would still be in our data warehouse.

[2021-04-26 14:42] KAllan357 commented on #69
@happyherp I think that would be a question for Pipedrive. It does look like some objects like Deals and Organizations have a `deleted` and `active_flag` field respectively. The `active_flag` key appears in several of the tap's schemas. https://pipedrive.readme.io/docs/faq

[2021-04-29 05:38] happyherp commented on #69
@KAllan357 you are right. The active flags are working. Maybe the delete_log can be removed altogether. Unfortunately other things came up and I could not spend more time on this. I will get back at a later date.

[2021-05-10 12:35] happyherp commented on #69
I can confirm that this is the case. I also say we should remove the stream.

[2021-09-07 10:22] vkovalskiy opened #103 "Ability to use custom field labels"
The current version export value ids for custom fields with enum type. Pipedrive API allows to receive custom field labels for those IDs. How we can get those added to the database? Or maybe force using Labels INSTEAD of ids?

[2022-01-17 16:36] JohannesRudolph opened #107 "products.prices schema invalid"
The json schema generated for the product.prices property has  `"types": ["null", "object", "array"]`. This makes it impossible for loaders like [target-bigquery ](https://github.com/adswerve/target-bigquery) to correctly infer the schema. In this case the proper fix would be to drop the `object` type.

I'm using meltano and tried to override the schema by passing an explicit catalog, but it seems

[2022-01-21 07:53] JohannesRudolph opened #108 "Incremental replication repeatedly emits last record"
I'm running into an issue running repeated incremental loads with this tap, e.g. for the `dealflow` stream. Every run of the tap will duplicate the latest record in a stream (assuming there are no newer records generated in pipedrive in between).

For example see this, where the exact same dealflow id entry got extracted and loaded into my target repeatedly.
![image](https://user-images.githubuser

[2022-02-14 02:36] weltonrodrigo commented on #107
Products is treated as stream with dynamic schema. It's necessary to change code inside the tap.

[2022-03-10 08:17] Hoanglinh1201 opened #109 "Occasionally got error code 520"
Our stitch pipedrive randomly got this error one every few runs.

`2022-03-10 06:13:41,880Z    tap - INFO METRIC Point(metric_type='timer', metric='http_request_duration', value=1.0308310985565186, tags={'status': 'failed', 'endpoint': 'deal_products'})
2022-03-10 06:13:41,880Z    tap - CRITICAL HTTP-error-code: 520, Error: Unknown Error`

Not so sure how to fix this issue. Does anyone come across

[2022-03-11 13:05] danpermun commented on #109
Hi,

I had the same issue for two days and suddenly it stopped without any changes made.

Im my case, the destination is an AWS Redshift cluster, but I don´t know if the problem occurs between pipedrive and stitch stage infra or between stitch infra and Redshift cluster.

[2022-03-30 13:50] LianaJarkkoRanta opened #110 "Deleted product from deal is not updated to replicated data"
We use Pipedrive connector via Stitchdata to replicate data from Pipedrive to Google BigQuery. Connector has generally worked well but now we noticed that Pipedrive deal products data is not replicated correctly.

There is one annoying bug that if we delete a product from Pipedrive deal --> information is updated to Pipedrive API but connector cannot update the information also to Google BigQuery.

[2022-04-13 12:41] Gabrieldlramos commented on #109
I ran into the same mistake, but it took a little bit more time to solve it, is there anyone still getting this error?

[2022-05-12 09:48] gwright15 opened #112 "User data"
Since around midnight UCT, the user extract is timing out - talking over 2 hours on around 100 records.  Has the integration been updated?

[2022-05-23 10:40] Hoanglinh1201 commented on #109
For some reasons the error is no longer there. I close the issue for now. Thanks everyone involved.

[2022-05-23 10:40] #109 closed

[2022-05-23 10:44] Hoanglinh1201 opened #114 "Persons Table does not backfill"
Hello there,

We recently moved our connection to a new Stitch and a new warehouse. The `persons` table did not backfill, even though I tried multiple times with a new start date ways earlier than our first data. The new table is only 41k rows while it should have 300k.

Did anyone come across this issue?

[2022-06-28 06:30] jtilala commented on #112
Hi @gwright15, Can you help me to know the below details for further debugging.
1. Are you getting this issue in your local environment/backend or Stitch data platform?
2. Is this issue repetitive or happens only occasionally?

[2022-06-28 06:34] gwright15 commented on #112
I have not been able to solve this - i bring the users into my data directly from the Pipedrive API request.

[2022-07-13 08:46] jensbohse commented on #110
Hey! I have the same problem and am already considering using another importer.... Unfortunately, it is so difficult to make a forecasting and our sales are then also not correct, if before the signing still products are changed. Have you found a solution?

[2022-11-07 11:27] Gabrieldlramos opened #122 "Getting error in activities table"
Hey guys,

I did a couple of extraction just now and got the following error from Stitch data

"Errors during transform id: data does not match {'type': 'integer'} : data does not match {'type': 'object', 'properties': {'location_formatted_address': {'type': ['null', 'string']}, 'active_flag': {'type': ['boolean', 'null']}, 'location_route': {'type': ['null', 'string']}, 'org_name': {'type': ['str